# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional files
.vscode
opt
thirdParty/openmpi*
thirdParty/ucx
thirdParty/opt*
thirdParty/openmpi-5.0.7.tar.gz
build

# Monophase jet directory ignores
monophaseJet/*.dat
monophaseJet/*.vtu
monophaseJet/*.vts
monophaseJet/*.LBMBin
monophaseJet/*/*.dat
monophaseJet/*/*.vtu
monophaseJet/*/*.vts
monophaseJet/*/*.vti
monophaseJet/*/*.LBMBin

# Multiphase jet directory ignores
multiphaseJet/*.dat
multiphaseJet/*.vtu
multiphaseJet/*.vts
multiphaseJet/*.vti
multiphaseJet/*.LBMBin
multiphaseJet/*/*.dat
multiphaseJet/*/*.vtu
multiphaseJet/*/*.vts
multiphaseJet/*/*.vti
multiphaseJet/*/*.LBMBin

# Lid driven cavity directory ignores
lidDrivenCavity/*/*.dat
lidDrivenCavity/*/*.vtu
lidDrivenCavity/*/*.vts
lidDrivenCavity/*/*.vti
lidDrivenCavity/*/*.LBMBin
lidDrivenCavity/*/*/*.dat
lidDrivenCavity/*/*/*.vtu
lidDrivenCavity/*/*/*.vts
lidDrivenCavity/*/*/*.vti

# Unit test directory ignores
unitTests/ComputeSanitizerTest/*.dat
unitTests/ComputeSanitizerTest/*.vtu
unitTests/ComputeSanitizerTest/*.vts
unitTests/ComputeSanitizerTest/*.vti
unitTests/ComputeSanitizerTest/*.LBMBin
unitTests/ComputeSanitizerTest/logs
