# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional files
.vscode
opt
LBM
thirdParty/openmpi*
thirdParty/ucx
thirdParty/opt*
thirdParty/openmpi-5.0.7.tar.gz
testCompute.sh
allTest.sh
meshTools/mesh
meshTools/caseInfo
meshTools/meshTools
lidDrivenCavity/mesh
unitTest
lidDrivenCavity/0
lidDrivenCavity/rho
lidDrivenCavity/u
lidDrivenCavity/v
lidDrivenCavity/w
lidDrivenCavity/m_xx
lidDrivenCavity/m_xy
lidDrivenCavity/m_xz
lidDrivenCavity/m_yy
lidDrivenCavity/m_yz
lidDrivenCavity/m_zz
lidDrivenCavity/nodeTypes
lidDrivenCavity/*.dat
build/bin/*