# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Additional files
.vscode
opt
thirdParty/openmpi*
thirdParty/ucx
thirdParty/opt*
thirdParty/openmpi-5.0.7.tar.gz
build

# Lid driven cavity directory ignores
lidDrivenCavity/*/*.dat
lidDrivenCavity/*/*.vtu
lidDrivenCavity/*/*.vts
lidDrivenCavity/*/*.LBMBin
lidDrivenCavity/*/*/*.vts

# Unit test directory ignores
unitTests/ComputeSanitizerTest/*.dat
unitTests/ComputeSanitizerTest/*.vtu
unitTests/ComputeSanitizerTest/*.vts
unitTests/ComputeSanitizerTest/*.LBMBin
unitTests/ComputeSanitizerTest/logs